{* Latte template *}

{block content}

<h3>Vianočný večierok</h3>

<div>
	Tak ako každý rok aj tento sa bude konať vianočný večierok, na ktorý sú pozvaní všetci zamestnanci.
	Tento rok bude špeciálny program, o ktorý sa postará jeden z nás. Môžte sa tešiť na vianočný punč, 
	dobré jedlo a skvelú zábavu. Tento rok bude aj výnimočný termín 22.12. 
</div>