{* Latte template *}

{block content}
<h3>Detail skolenia</h3>
<table class="table">
	<tr>
		<th>Nazov</th>
		<th>Edit</th>
	</tr>
	<tr>
		<td>{$list->name}</td>
		<td><a n:href="course:editcourse $list->id">Edit</a></td>
	</tr>
</table>