{* Latte template *}

{block content}
	<table class="table">
		<tr>
			<th>Názov</th>
			<th>Detail</th>
		</tr>
		{foreach $list as $riadok}
		<tr>
			<td>{$riadok->name}</td>
			<td><a n:href="#">Detail</a></td>
		</tr>
		{/foreach}
	</table>




