#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\*Presenter

	session:
		expiration: 14 days

dibi:
	host: localhost
	username: root
	password:
	database: bakalarka
	lazy: TRUE	

#production:
#	nette:
#		mailer:
#			smtp:true
#			host:smtp.gmail.com
#			secure:ssl
#			username:bakalarka868@gmail.com
#			password:3e9heb77

services:
	- App\Model\UserManager
	- App\RouterFactory
	router: @App\RouterFactory::createRouter
	RegistrationModel:
		class: \RegistrationModel
	Authenticator:
		class: \Authenticator
	MaterialModel:
		class: \Material
	CarsModel:
		class: \CarsModel
	FaultModel:
		class: \FaultModel
	CourseModel:
		class: \CourseModel
	EmployeeModel:
		class: \EmployeeModel
	OrderModel:
		class: \OrderModel
	TransportModel:
		class: \TransportModel
	EventModel:
		class: \EventModel