{* Latte template *}

{block content}
<h3>Nový prírastok do dopravy</h3>

<div>
	Do prepravy nám pribudla nová posila, ktorá je výkonnejšia a rozširuje naše možnosti.
	<img src="{$basePath}/www/img/05.jpg">
</div>