{* Latte template *}

{block content}
<h3>Detail aut</h3>
<table class="table">
	<tr>
		<th>Spz</th>
		<th>Rok výroby</th>
		<th>Nosnosť</th>
		<th>Palivo</th>
		<th>Poruchy</th>
		<th>Edit</th>
	</tr>
		<tr>
			<td>{$list->spz}</td>
			<td>{$list->years}</td>
			<td>{$list->capacity}</td>
			<td>{$list->fuel}</td>
			<td><a n:href="cars:faultdetail $list->spz">Poruchy</a></td>
			<td><a n:href="cars:editcars $list->spz">Edit</a></td>
		</tr>
</table>
