{* Latte template *}

{block content}
<h3>Zoznam poruch</h3>
<table class="table">
	<tr>
		<th>Spz</th>
		<th>Popis</th>
		<th>Nahradne diely</th>
		<th>Servis</th>
		<th>Suma</th>
		<th>Edit</th>
	</tr>
	{foreach $list as $riadok}
		<tr>
			<td>{$riadok->spz}</td>
			<td>{$riadok->description}</td>
			<td>{$riadok->parts}</td>
			<td>{$riadok->service}</td>
			<td>{$riadok->sum}</td>
			<td><a n:href="cars:editfault $riadok->id">Edit</a></td>
		</tr>
	{/foreach}
</table>
