{* Latte template *}

{block content}
<h3>Zoznam aut</h3>
<table>
	<tr>
		<th>Špz</th>
		<th>Nosnosť</th>
		<th>Detail</th>
		<th>Edit</th>
	</tr>
	{foreach $list as $riadok}
		<tr>
			<td>{$riadok->spz}</td>
			<td>{$riadok->capacity}</td>
			<td><a href='detail'>Detail</a></td>
			<td><a href='editCars'>Edit</a></td>
		</tr>
	{/foreach}
</table>
