{* Latte template *}

{block content}
<h3>Detail</h3>

	<fieldset>
		<table>
			{foreach $newModel as $item}
				
				<legend>{$item['name']}</legend>
				<table>
					<ul>Sirka: {$item['width']}</ul>
					<ul>Vyska: {$item['height']}</ul>
					<ul>Hlbka: {$item['depth']}</ul>
				</table>

			{/foreach}
		</table>
	</fieldset>
