{* This is the welcome page, you can delete it *}

{block content}
{form signInForm}
    <div id="form-inline">
	    {input username}
	    {input password}
	    <div class="checkbox">
		{input remember}
	    </div>
	    <div class="btn btn-primary">
		{input send}
	    </div>
    </div>
{/form signInForm}
{/block}
