{* This is the welcome page, you can delete it *}

{block content}
{form signInForm}
    <div>
	<div class="sForm">
	    {input username class=>"sr-only"}
	    {input password}
	</div>
	<div class="sButton">
	    {input send class=>"btn btn-primary"}
	</div>
	<div class="sCheck">
	    {input remember class=>"checkbox"}
	</div>
    </div>
{/form signInForm}
{/block}
