{* Latte template *}

{block content}
<div id='printTable'>
	<table>
		<th>Id</th>
		<th>Názov</th>
		<th>Množstvo</th>
		<th>Sekcia</th>
		<th>Popis</th>
		<th>Váha</th>
	</table>
</div>
{foreach $list as $riadok}
	<div id='printTable'>
		<table>
			<tr>
				<td>{$riadok->id}</td>
				<td>{$riadok->name}</td>
				<td>{$riadok->quantity}</td>
				<td>{$riadok->section}</td>
				<td>{$riadok->description}</td>
				<td>{$riadok->weight}</td>
			</tr>
		</table>
	</div>
{/foreach}