{* Latte template *}

{block content}
	<h3>Detail materiálu</h3>
	<table class="table">
		<tr>
			<th>Id</th>
			<th>Názov</th>
			<th>Popis</th>
			<th>Technické parametre</th>
			<th>Cena</th>
			<th>Edit</th>
		</tr>
		<tr>
			<td>{$list->id}</td>
			<td>{$list->name}</td>
			<td>{$list->description}</td>
			<td>{$list->technical_drawing}</td>
			<td>{$list->price}</td>
			<td><a n:href="material:edit $list->id">Edit</a></td>
		</tr>
	</table>

