{* Latte template *}

{block content}
<div id='printTable'>
	<table>
		<th>Id</th>
		<th>Názov</th>
		<th>Množstvo</th>
		<th>Sekcia</th>
		<th>Popis</th>
		<th>Váha</th>

	</table>
</div>
	<div id='printTable'>
		<table>
			<tr>
				<td>{$list->id}</td>
				<td>{$list->name}</td>
				<td>{$list->quantity}</td>
				<td>{$list->section}</td>
				<td>{$list->description}</td>
				<td>{$list->weight}</td>
				<td><a n:href="material:edit $riadok->id">Edit</a></td>
			</tr>
		</table>
	</div>
