{* Latte template *}

{block content}

	<h3>Zoznam materiálu</h3>
	<table class="table">
		<tr>
			<th>Id</th>
			<th>Názov</th>
			<th>Množstvo</th>
			<th>Detail</th>
		</tr>
		{foreach $list as $riadok}
			<tr>
				<td>{$riadok->id}</td>
				<td>{$riadok->name}</td>
				<td>{$riadok->quantity}</td>
				<td><a n:href="material:detail $riadok->id">Detail</a></td>
			</tr>
		{/foreach}
	</table>
