body {
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    background: #003399;
}

h1 {
    color: #3484D2;
}

#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 13px;
    background: white url('../img/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    z-index: 123456;
    display: none;
}

div.flash {
    color: black;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 1em;
    margin: 1em 0;
}

a[href^="#error:"] {
    background: red;
    color: white;
}

form th, form td {
    vertical-align: top;
    font-weight: normal;
}

form th {
    text-align: right;
}

form .required label {
    font-weight: bold;
}

form .error {
    color: #D00;
    font-weight: bold;
}

html.js .jshidden {
    display: none;
}

header{
    width: 100%;
    height: 163px;
}

#page{
    background: #CCC;
    width: 900px;
    height: 100%;
    position: relative;
    margin: auto;
    top: 30px;
}

#nav_menu{
    height: 40px;
    padding-left: 260px;
    padding-top: 110px;
}

#nav_menu ul{
    height: 40px;
    margin-top: 13px;
}

#nav_menu ul li{
    //position: relative;
    display: inline-block;
    padding-right: 50px;
    //left: 300px;
    float: left;
}

#nav_menu ul li:last-child{
    padding-right: 5px;
}

#image_logo{
    float: left;
    margin: 20px;
}

.row{
    padding-top: 10px;
}

.row:after{
    display: inline-block;
}

#sign{
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

#info{
    float: right;
    padding-right: 30px;
}

#send{
    float: right;
    padding-right: 40px;
    display: inline-block;
}

.sForm{
    float: right;
    padding-right: 20px;
    padding-top: 10px;
}

.sButton{
    position: absolute;
    margin-top: 50px;
    right: 20px;
}

.sForm input{
    width: 150px;
}

.sCheck{
    position: absolute;
    right: 100px;
    margin-top: 50px;
    
}

header{
    background: white;
}

section h3{
    color: #006dcc;
    padding-left: 20px;
  
}