body {
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    background: #003399;
}

h1 {
    color: #3484D2;
}

#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 13px;
    background: white url('../img/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    z-index: 123456;
    display: none;
}

div.flash {
    color: black;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 1em;
    margin: 1em 0;
}

a[href^="#error:"] {
    background: red;
    color: white;
}

form th, form td {
    vertical-align: top;
    font-weight: normal;
}

form th {
    text-align: right;
}

form .required label {
    font-weight: bold;
}

form .error {
    color: #D00;
    font-weight: bold;
}

html.js .jshidden {
    display: none;
}

header{
	background: white;
	width: 100%;
	height: 160px;
}

#page{
    background: #F2F2F2;
    width: 900px;
    position: relative;
    margin: auto;
    top: 30px;
    overflow: hidden;
}

#nav_menu{
    height: 40px;
    padding-left: 260px;
    padding-top: 110px;
}

#nav_menu ul{
    height: 30px;
    margin-top: 13px;
}

#nav_menu ul li{
    //position: relative;
    display: inline-block;
    padding-right: 50px;
    //left: 300px;
    float: left;
}

#nav_menu ul li:last-child{
    padding-right: 5px;
}

#image_logo{
    float: left;
    margin: 20px;
}

.row{
    padding-top: 10px;
}

.row:after{
    display: inline-block;
}

#sign{
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

#info{
    float: right;
    padding-right: 30px;
}

#send{
    float: right;
    padding-right: 40px;
    display: inline-block;
}

.sForm{
    float: right;
    padding-right: 20px;
    padding-top: 10px;
}

.sButton{
    position: absolute;
    margin-top: 50px;
    right: 20px;
}

.sForm input{
    width: 150px;
}

.sCheck{
    position: absolute;
    right: 100px;
    margin-top: 50px;

}

section h3{
    color: #006dcc;
}

#registracia{
	float: inside;
}

#second_menu{
	width: 170px;
}

#saveMaterial{
	position: absolute;
	left: 180px;
}

#uzivatel small{
	position: absolute;
	right: 20px;
	top: 10px;
}

#uzivatel h5{
	position: absolute;
	right: 240px;
}

#log_out{
	position:absolute;
	top:30px;
	right: 20px;
}

.menu_main{
	position: absolute;
	height: 50px;
	top: 120px;
	left: 180px;
}

nav#leftMenu {
	width: 150px;
	float: left;
	padding-top: 20px;
}

section#mainContent {
	width: 700px;
	padding-left: 40px;
	padding-top: 20px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	float: left;
}

//step-progress step

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}


/* Form Progress */
.step-progress {
  /*width: 1000px;*/
  margin: 20px auto;
  text-align: center;
}
.step-progress .circle,
.step-progress .bar {
  display: inline-block;
  background: #fff;
  width: 40px; height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
}
.step-progress .bar {
  position: relative;
  width: 80px;
  height: 6px;
  top: -33px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.step-progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
}
.step-progress .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  margin-left: -5px;
}

/* Done / Active */
.step-progress .bar.done,
.step-progress .circle.done {
  background: #eee;
}
.step-progress .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.step-progress .circle.done .label {
  color: #FFF;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.step-progress .circle.done .title {
  color: #444;
}
.step-progress .circle.active .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.step-progress .circle.active .title {
  color: #0c95be;
}